mj-section(background-color="#ffffff" padding-bottom="0")
    mj-column
        mj-button(vertical-align="middle" border-radius="5px" mj-class="T bg+1" color="#ffffff" href="https://philgraph.com/wp-content/uploads/2024/11/jpo23112024.ics") #[span(style="font-weight:700;") Ajoutez à votre agenda] &nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;" width="20px" src="https://i.ibb.co/Msc2sh7/calendrier.png" href="https://philgraph.com/wp-content/uploads/2024/11/jpo23112024.ics")