 //- Comment s'y rendre
mj-section(background-color='#dfdfdf')
    mj-column(width='480px')
        mj-text(font-size='18px' font-weight='700' mj-class='d-lieu c-F' text-transform='uppercase') Comment s'y rendre ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[strong(class='c-F') Accès Métro :] Ligne 2 - station Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[strong(class='c-F') Accès Tramway :] Terminus Tourcoing Centre.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[strong(class='c-F') Accès Bus :] Gare routière de Tourcoing.
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[strong(class='c-F') Accès Train :] Gare de Tourcoing puis station de Métro Tourcoing Centre
        mj-text(padding-top='0' padding-bottom='0' mj-class='d-lieu') #[strong(class='c-F') Accès Voiture :] Tourcoing centre.
        mj-spacer(height='10px')/