//- section Affiche
mj-section(padding='0')
    mj-column
        mj-image(width='300px' padding='0' href='https://ecosup-sante.fr/accompagnant-petite-enfance' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
    mj-column
        mj-image(width='300px' padding='0' href='https://ecosup-sante.fr/accompagnant-petite-enfance' src='https://i.ibb.co/P6rZVQh/aepe-JPO062024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 22 juin 2024')/      
//- section Titre
mj-section(background-color='#ffffff' padding='0')
    mj-column(width='480px')
        mj-text(align="left" padding-bottom='0' mj-class='T+1 c-0' text-transform="uppercase") Formations BTS et Bachelor
        mj-text(align="left" padding-top='0' mj-class='T+2 c+1') Ecosup Commerce vous ouvre ses Portes !
//- section Texte
mj-section(background-color='#ffffff' padding='0')
    mj-column(width='480px')
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[span(style='font-weight:700;') {{ contact.PRENOM }}], les métiers du Commerce et du Marketing vous intéressent ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Alors si vous souhaitez intégrer ce secteur et vivre une #[span(style='font-weight:700;') formation motivante en alternance]... venez nous rejoindre 
        mj-text(align='center' mj-class='T+1 c+1') Samedi 23 novembre de 9h30 à 13h.
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Qu'il s'agisse de vous réorienter, de vous professionnaliser ou de devenir expert ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Vous trouverez auprès de nos équipes, #[span(style='font-weight:700;') toutes les réponses à vos questions] qu'elles soient d'ordre éducatif, administratif ou pratique.
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Alors venez découvrir les #[span(style='font-weight:700;') équipements de notre campus] et rencontrer nos #[span(style='font-weight:700;') intervenants, des professionnels reconnus].
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Une invitation à ne pas manquer pour devenir l'acteur de votre avenir et #[span(style='font-weight:700;') gagner en compétences] !
        mj-button(padding-top="20px" vertical-align="middle" border-radius="5px" mj-class="T bg+1" color="#ffffff" href="https://philgraph.com/wp-content/uploads/2024/11/jpo23112024.ics") #[span(style="font-weight:700;") Ajoutez à votre agenda] &nbsp;&nbsp;&nbsp;
            img(style="vertical-align:middle;" width="20px" src="https://i.ibb.co/Msc2sh7/calendrier.png" href="https://philgraph.com/wp-content/uploads/2024/11/jpo23112024.ics")
