//-Header Commerce
mj-section( background-color="#ffffff" border-radius="20px 20px 0 0")
    mj-column
        mj-image( width="200px" src="https://i.ibb.co/b1ZnTbP/ecosup-Commerce-signature.png" alt="logo Ecosup Commerce")
