//- signature
mj-section(background-color="#ffffff")
    mj-group
        mj-column(width='50%' padding='8px' vertical-align="middle")
            mj-image(align='right' padding='0' src='https://i.ibb.co/yQ9SZKR/Marie-Laurencejpo25052024.jpg'  width='120px' alt='Marie Laurence Wallaert, responsable pédagogique Ecosup Commerce')/
        mj-column(width='50%' padding='8px' vertical-align="middle")
            mj-text(padding='0' mj-class='T cT+1') #[strong Marie Laurence #[span(style='text-transform:uppercase') Wallaert]]
            mj-text(padding='0' mj-class='T cT+1') Responsable pédagogique
            mj-text(padding='0' mj-class='T cT+1') Ecosup Commerce