//- section Signature
mj-section(background-color='#ffffff')
    mj-group
        mj-column(width='50%' padding='8px')
            mj-image(align='right' padding='0' src='https://i.ibb.co/ZJBt18s/Jeromejpo25052024.jpg'  width='120px' alt='Jérome Poulain, responsable pédagogique Ecosup Santé')/
        mj-column(width='50%' padding='8px')
            mj-text(padding-top='20px' padding-left='0' padding-right='0' mj-class='T cT+1') À Samedi !
            mj-text(padding='0' mj-class='T cT+1') #[strong Jérôme #[span(style='text-transform:uppercase') Poulain]]
            mj-text(padding='0' mj-class='T cT+1') Responsable pédagogique
            mj-text(padding='0' mj-class='T cT+1') Ecosup Santé - Diététique
    