-
    const logosList1 =[
        {
            'image':'https://i.ibb.co/qNZP5dP/LogoA14.jpg',
            'alt':'logo couleur Hôtel Moustache'
        },
        {
            'image':'https://i.ibb.co/VHwDR7d/LogoA13.jpg',
            'alt':'logo couleur des 3 Brasseurs'
        },
        {
            'image':'https://i.ibb.co/vz8Rrt2/LogoA12.jpg',
            'alt':'logo couleur Fée Maison'
        },
        {
            'image':'https://i.ibb.co/z5ZgwTw/LogoA11.jpg',
            'alt':'logo couleur L\'Hermitage Gantois'
        },
        {
            'image':'https://i.ibb.co/L85ZfG1/LogoA10.jpg',
            'alt':'logo couleur Best Western'
        },
        {
            'image':'https://i.ibb.co/n6nKRBn/LogoA9.jpg',
            'alt':'logo couleur Small Luxury Hotels'
        },
        {
            'image':'https://i.ibb.co/ZXr5mLx/LogoA8.jpg',
            'alt':'logo couleur Hotel Najeti'
        },
    ]
-
    const logosList2 = [
        {
            'image':'https://i.ibb.co/VYL89kZ/LogoA7.jpg',
            'alt':'logo couleur Sodexo'
        },
        {
            'image':'https://i.ibb.co/DKZDvtz/LogoA6.jpg',
            'alt':'logo couleur Hôtel Couvent des minimes'
        },
        {
            'image':'https://i.ibb.co/zr8TQyS/LogoA5.jpg',
            'alt':'logo couleur Hotel HLE'
        },
        {
            'image':'https://i.ibb.co/QXFVhNW/LogoA4.jpg',
            'alt':'logo couleur Carlton Hôtel'
        },
        {
            'image':'https://i.ibb.co/gw0vV3g/LogoA3.jpg',
            'alt':'logo couleur L\'Arbre Voyageur'
        },
        {
            'image':'https://i.ibb.co/8z2m91y/LogoA2.jpg',
            'alt':'logo couleur Global Hôtel Alliance'
        },
        {
            'image':'https://i.ibb.co/pRydwkm/LogoA1.jpg',
            'alt':'logo couleur Accor'
        }
    ]


mj-section(background-color="#ffffff" padding-bottom="0")
    mj-column(width="480px")
        mj-text(padding-bottom='0' padding-top='0' mj-class="T cT+1") #[span(style="font-weight:700") Entreprises partenaires] qui accueillent nos étudiants
mj-section(background-color="#ffffff" padding-bottom="40px") 
    mj-group(width="480px")
        each logo in logosList1
            mj-column(padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    mj-group(width="480px")
        each logo in logosList2
            mj-column(padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/