//- section Affiche
mj-section(padding='0')
    mj-group
        mj-column(width="50%")
            mj-image(width='300px' padding='0' href='https://ecosup-assurance.fr' src='https://i.ibb.co/85Fkg0x/affiche-Jpo23112024.jpg' target='_blank' alt='Affiche de la Journée Portes Ouvertes du samedi 23 novembre 2024')/      
        mj-column(width="50%")
            mj-image(width='300px' padding='0' border="0" href='https://ecosup-assurance.fr' src='https://i.ibb.co/K6j9pWN/Assu-Jpo23112024.jpg' target='_blank' alt='constat d\'accident de voiture : l\'assureur et son client')/      
//- section Titre
mj-section(background-color='#ffffff' padding='0')
    mj-column(width='480px')
        mj-text(align="left" padding-bottom='0' mj-class='T+1 cT+1' text-transform="uppercase") Nos formations BTS et Bachelor
        mj-text(align="left" padding-top='0' mj-class='T+2 c+1') Ecosup Assurance vous ouvre ses Portes !
//- section Texte
mj-section(background-color='#ffffff' padding='0')
    mj-column(width='480px')
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') #[span(style='font-weight:700;') {{ contact.PRENOM }}], les métiers de l'Assurance et de la Banque vous intéressent ?
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Vous souhaitez intégrer ce secteur et développer vos compétences dans le cadre d'une #[span(style='font-weight:700;') alternance]... venez nous rejoindre 
        mj-text(align='center' mj-class='T+1 c+1') Samedi 23 novembre de 9h30 à 13h.
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Qu'il s'agisse de vous réorienter ou de vous professionnaliser, vous trouverez auprès de nos équipes, #[span(style='font-weight:700;') toutes les réponses à vos questions].
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Venez découvrir notre #[span(style='font-weight:700;') campus] et rencontrer nos #[span(style='font-weight:700;') intervenants] et #[span(style="font-weight:700") professionnels reconnus].
        mj-text(padding-top='0' padding-bottom='0' mj-class='T cT+1') Une invitation à ne pas manquer pour devenir l'acteur de votre avenir et #[span(style='font-weight:700;') gagner en compétences] !