-
    const logosList = [
        {
            'image': 'https://i.ibb.co/3CfWWxL/Logo-Assurance14.jpg',
            'alt' : 'logo couleur AXA assurance' 
        },
        {
            'image':'https://i.ibb.co/h8YcCy9/Logo-Assurance13.jpg',
            'alt':'logo couleur SMA btp'
        },
        {
            'image':'https://i.ibb.co/XspTwRh/Logo-Assurance12.jpg',
            'alt':'logo couleur DLM location'
        },
        {
            'image':'https://i.ibb.co/1vDhhpM/Logo-Assurance11.jpg',
            'alt':'logo couleur Concilian'
        },
        { 
            'image':'https://i.ibb.co/xY71s8T/Logo-Assurance10.jpg',
            'alt':'logo couleur Mésange Prévoyance'
        },
        {
            'image':'https://i.ibb.co/r3LzxSd/Logo-Assurance09.jpg',
            'alt':'logo couleur groupe Henner'
        },
        {
            'image':'https://i.ibb.co/KNS4FXx/Logo-Assurance08.jpg',
            'alt':'logo couleur Allianz assurance'
        }
    ]

mj-section(background-color="#ffffff" padding-bottom="0")
    mj-column(width="480px")
        mj-text(padding-bottom='0' padding-top='0' mj-class="T cT+1") #[span(style="font-weight:700") Entreprises partenaires] qui accueillent nos étudiants
mj-section(background-color="#ffffff" padding-bottom="40px") 
    mj-group(width="480px")
        each logo in logosList
            mj-column(padding="4px")
                mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src=logo.image alt=logo.alt)/
    mj-group(width="480px")
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/s3Qyqv3/Logo-Assurance07.jpg" alt="logo Swiss Life")/
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/Qpm6jgs/Logo-Assurance06.jpg" alt="logo Malakoff Humanis")/
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/G77qxcj/Logo-Assurance05.jpg" alt="logo Sofinco")/
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/gP4PsSM/Logo-Assurance04.jpg" alt="logo Deledalle courtier d'assurances")/
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/mzbfQs1/Logo-Assurance03.jpg" alt="logo 2M votre courtier assurances")/
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/6J8BVCd/Logo-Assurance02.jpg" alt="logo MMA assurance")/
        mj-column(padding="4px")
            mj-image(padding="0" border="none" fluid-on-mobile="true" width="150px" src="https://i.ibb.co/8r9FGG5/Logo-Assurance01.jpg" alt="logo Diot groupe Diot Siaci")/