//- section signature
mj-section(background-color='#ffffff')
    mj-group
        mj-column(width='50%' padding='8px')
            mj-image(align='right' padding='0' src='https://i.ibb.co/DkTGx9w/Christianjpo25052024.jpg'  width='120px' alt='Christian Annaloro, responsable pédagogique Ecosup Assurance')/
        mj-column(width='50%' padding='8px')
            mj-text(padding-top='20px' padding-left='0' padding-right='0' mj-class='d-text') À Samedi !
            mj-text(padding='0' mj-class='d-text') #[strong Christian #[span(style='text-transform:uppercase') Annaloro]]
            mj-text(padding='0' mj-class='d-text') Responsable pédagogique
            mj-text(padding='0' mj-class='d-text') Ecosup Assurance
            mj-text(padding='0' mj-class='d-text') Membre BNI France
    