//- signature
mj-section(background-color='#ffffff')
    <mj-group>
        mj-column(width='50%' padding='8px' vertical-align="middle")
            mj-image(align='right' padding='0' src='https://i.ibb.co/G3fJzLp/Juliejpo25052024.jpg'  width='120px' alt='Julie Kokocinski, responsable pédagogique Supveto Lille')/
        mj-column(width='50%' padding='8px' vertical-align="middle")
            mj-text(padding='0' mj-class='T cT+1') #[strong Julie #[span(style='text-transform:uppercase') Kokocinski]]
            mj-text(padding='0' mj-class='T cT+1') Responsable pédagogique
            mj-text(padding='0' mj-class='T cT+1') Supveto Lille